/*!
 * @bsara/react-layouts v1.3.4
 *
 * Copyright (c) 2019, Brandon D. Sara (https://bsara.pro/)
 * Licensed under the ISC license
 * (https://gitlab.com/bsara/react-layouts/blob/master/LICENSE)
 */
.grid-layout {
  display: grid;

  grid-template-columns: repeat(
    var(--grid-column-count, 0),
    minmax(
      var(--grid-item-min-width, var(--grid-item-min-size, 0)),
      var(--grid-item-width, var(--grid-item-size, var(--grid-item-max-width, var(--grid-item-max-size, 1fr))))
    )
  );

  grid-template-rows: repeat(
    var(--grid-row-count, 0),
    minmax(
      var(--grid-item-min-height, var(--grid-item-min-size, 0)),
      var(--grid-item-height, var(--grid-item-size, var(--grid-item-max-height, var(--grid-item-max-size, 1fr))))
    )
  );


  & > * {
    grid-row:    span var(--grid-row-span);
    grid-column: span var(--grid-column-span);
    box-sizing:  border-box;
  }



  & > * { /* stylelint-disable-line no-duplicate-selectors */
    /* Reset layout children custom props in case child is special layout */

    --grid-row-count:    initial;
    --grid-column-count: initial;

    & > * { /* stylelint-disable-line no-duplicate-selectors, selector-max-selectors */
      /* Reset layout grandchildren custom props in case child is special layout */

      --grid-row-span:    initial;
      --grid-column-span: initial;

      --grid-item-size:     initial;
      --grid-item-min-size: initial;
      --grid-item-max-size: initial;

      --grid-item-width:     initial;
      --grid-item-min-width: initial;
      --grid-item-max-width: initial;

      --grid-item-height:     initial;
      --grid-item-min-height: initial;
      --grid-item-max-height: initial;
    }
  }
}


.grid-layout-inline {
  display: inline-grid;
}
