/**
 * ISC License (ISC)
 *
 * Copyright (c) 2019, Brandon D. Sara (https://bsara.pro/)
 *
 * Permission to use, copy, modify, and/or distribute this software for any
 * purpose with or without fee is hereby granted, provided that the above
 * copyright notice and this permission notice appear in all copies.
 *
 * THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES WITH
 * REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF MERCHANTABILITY
 * AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR ANY SPECIAL, DIRECT,
 * INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES WHATSOEVER RESULTING FROM
 * LOSS OF USE, DATA OR PROFITS, WHETHER IN AN ACTION OF CONTRACT, NEGLIGENCE OR
 * OTHER TORTIOUS ACTION, ARISING OUT OF OR IN CONNECTION WITH THE USE OR
 * PERFORMANCE OF THIS SOFTWARE.
 */


._g-readme-layout {
  --grid-column-count: 3;
}

._g-readme-layout > * {
  border: 1px dotted gray;
}

._g-readme-cell0-0 {
  --grid-row-span: 2;
}

._g-readme-cell0-1 {
  --grid-column-span: 2;
}



._g-gap {
  grid-gap: 10px;
}



._g-column-count {
  --grid-column-count: 4;
}

._g-row-count {
  --grid-row-count: 4;
}



._g-areas-template {
  grid-template-areas: 'three-one   one-one   four-one   two-one'
    'three-two   one-two   four-two   two-two'
    'three-three one-three four-three two-three'
    'three-four  one-four  four-four  two-four';
}

._g-areas-template > *:first-child { grid-area: one-one; }
._g-areas-template > *:nth-child(2) { grid-area: one-two; }
._g-areas-template > *:nth-child(3) { grid-area: one-three; }
._g-areas-template > *:nth-child(4) { grid-area: one-four; }
._g-areas-template > *:nth-child(5) { grid-area: two-one; }
._g-areas-template > *:nth-child(6) { grid-area: two-two; }
._g-areas-template > *:nth-child(7) { grid-area: two-three; }
._g-areas-template > *:nth-child(8) { grid-area: two-four; }
._g-areas-template > *:nth-child(9) { grid-area: three-one; }
._g-areas-template > *:nth-child(10) { grid-area: three-two; }
._g-areas-template > *:nth-child(11) { grid-area: three-three; }
._g-areas-template > *:nth-child(12) { grid-area: three-four; }
._g-areas-template > *:nth-child(13) { grid-area: four-one; }
._g-areas-template > *:nth-child(14) { grid-area: four-two; }
._g-areas-template > *:nth-child(15) { grid-area: four-three; }
._g-areas-template > *:last-child { grid-area: four-four; }


._g-columns-template {
  grid-template-columns: minmax(max-content, 50fr) minmax(min-content, 75fr) minmax(min-content, 35fr) minmax(min-content, 10fr);
}

._g-rows-template {
  grid-template-rows: repeat(4, 50px);
}



._g-item-size {
  --grid-item-size: 100px;
}
