/*!
 * @bsara/react-layouts v1.3.4
 *
 * Copyright (c) 2019, Brandon D. Sara (https://bsara.pro/)
 * Licensed under the ISC license
 * (https://gitlab.com/bsara/react-layouts/blob/master/LICENSE)
 */
.responsive-linear-layout {
  --_rll-margin: calc(var(--responsive-linear-layout-item-gap) / 2);

  flex-wrap: wrap;
  margin:    calc(var(--_rll-margin) * -1);

  & > * {
    margin: var(--_rll-margin);
  }
}



.responsive-linear-layout > * > * {
  /* Reset layout grandchildren custom props in case child is special layout */
  --responsive-linear-layout-item-gap: initial;
}
