/*!
 * @bsara/react-layouts v1.3.4
 *
 * Copyright (c) 2019, Brandon D. Sara (https://bsara.pro/)
 * Licensed under the ISC license
 * (https://gitlab.com/bsara/react-layouts/blob/master/LICENSE)
 */
.linear-layout {
  display:         flex;
  flex-wrap:       nowrap;
  justify-content: flex-start;
  justify-items:   flex-start;

  & > * {
    flex-grow:   0;
    flex-shrink: 0;
    box-sizing:  border-box;
  }
}

.linear-layout-inline {
  display: inline-flex;
}

.linear-layout-wrapped {
  flex-wrap: wrap;
}


.linear-layout-horizontal {
  flex-direction: row;

  & > * {
    width:     var(--linear-layout-item-size);
    min-width: var(--linear-layout-item-min-size);
    max-width: var(--linear-layout-item-max-size);
  }
}

.linear-layout-horizontal-with-item-gap > * {
  margin-left:  calc(var(--linear-layout-item-gap, var(--sub-linear-layout-item-gap)) / 2);
  margin-right: calc(var(--linear-layout-item-gap, var(--sub-linear-layout-item-gap)) / 2);

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}


.linear-layout-vertical {
  flex-direction: column;

  & > * {
    height:     var(--linear-layout-item-size);
    min-height: var(--linear-layout-item-min-size);
    max-height: var(--linear-layout-item-max-size);
  }
}

.linear-layout-vertical-with-item-gap > * {
  margin-top:    calc(var(--linear-layout-item-gap, var(--sub-linear-layout-item-gap)) / 2);
  margin-bottom: calc(var(--linear-layout-item-gap, var(--sub-linear-layout-item-gap)) / 2);

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}



.linear-layout { /* stylelint-disable-line no-duplicate-selectors */
  & > * > * {
    /* Reset layout grandchildren custom props in case child is special layout */

    --linear-layout-item-gap: initial;

    --linear-layout-item-size:     initial;
    --linear-layout-item-min-size: initial;
    --linear-layout-item-max-size: initial;
  }

  & > .linear-layout > * {
    /* Reset layout great-grandchildren custom props in case child is special layout */

    --sub-linear-layout-item-gap: initial;
  }
}
